/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

/*html, body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: none;
}

.container {
    padding: 0%;
    width: 100%;
}*/


/* FORM PAGES */


/*.form {
    text-align:center;
    margin: 0 auto 10px;
    padding: 20px 0 10px 0;
    font-size: 20px;
    width: 250px;
}

input[type=text],
input[type=email],
input[type=password] {
    color: black;
    width: 80%;
    border: 1px solid #0092b0;
    border-radius: 20px;
    height: 60px;
    margin: 6px auto;
    text-indent: 10px;
}

.btn-submit {
    color: #fcf6ff;
    font-size: 18px;
    text-transform: none;
    background: #3a61c9;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    margin-top: 6px;
}

*/